.gradient-text {
    background: linear-gradient(to bottom, #1FA2FF, #12D8FA, #A6FFCB);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


.gradient-text1 {
    background: linear-gradient(to bottom, #FF512F, #F09819);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.gradient-text2 {
    background: linear-gradient(to right, #E65C00, #F9D423);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.gradient-text3 {
    background: linear-gradient(to right, #833AB4, #FD1D1D,#FCB045);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.gradient-text4 {
    background: linear-gradient(to right, #1FA2FF, #12D8FA, #A6FFCB);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}